html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}
#mainContainer {
    height: 99%;
}
i {
    font-size: 20px;
}
#mainTaskContainer {
    color: black;
}
li:hover {
    transform: scale(1.05);
}
.edit-input {
    display: none;
}
.animate__animated.animate__bounce {
    --animate-duration: 5s;
  }